.fundoLogin {
    background-image: url("https://ik.imagekit.io/oois5ivj4v/drive-download-20250120T151536Z-001/6706373_3395620.jpg?updatedAt=1740409784974");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
